
@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@media only screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
  }
} 
.cart{
  background: rgba(255,255,255,0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.45);
}

.phone-input-container .PhoneInput {
  width: 100%;
}
input.PhoneInputInput {
  display: none;
}
@media screen and (min-width: 1024px){
  .cartshadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
@media (max-width: 767px) {
  html,
body{
width:100%;
overflow-x:hidden;
}
}
.custom-spacing {
  letter-spacing: 0.5em; /* Adjust as needed */
  line-height: 1.1; /* Adjust as needed */
}